.body{
    -fx-background-image: url("/images/mainMenuGif.gif");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center;
}

.helpBg{
    -fx-background-image: url("/images/helpPic.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 800.0 640.0;
    -fx-background-position: center;
}

.btn {
	-fx-background-color: transparent; 

}

.btn:hover {
	-fx-background-size: 200.0% 200.0%;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, black, 20.0, 0.1, 0.0, 0.0);
}
